.container{
    border-radius: 12px;
    height: 600px;
    width:600px;
    margin: auto;
    margin-top: 75px;
    background-image:linear-gradient(180deg,skyblue 100%);
    opacity: 0.5;
}

.top-bar{
    display: flex;
    justify-content:center;
    gap: 14px;
    padding-top: 60px;
}

.input-container{
    text-align: center;
    padding-top: 100px;
}

.title{
    text-align: center;
    padding-bottom: 20px;
    color: rgb(107, 222, 159);
    margin-right: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.text-box{
    font-family: 'Times New Roman', Times, serif;
    font-size:medium ;
    border-radius: 45px;
    border:2px;
    size: 70px;
    width: 242px;
    height: 35px;
   margin-left: 140px;
  /* background-image: url('../assests/search.svg');
   background-repeat: no-repeat;*/
   
}

.submit-button{
    border-radius: 45px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    width: 100px;
}

.temp{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    margin-left: 15px;
    color: blanchedalmond;
    padding-top: 10px;
}

.wind{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
    text-align: center;
    color: blanchedalmond;
    padding-top: 10px;
}

.latitude{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
    color:blanchedalmond;
    padding-top: 10px;
}

.longit{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 12px;
    color: blanchedalmond;
    padding-top: 10px;
}

.head{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    color: bisque;
    font-weight: bold;
}

.lat{
    display: flex;
    text-align: center;
}

.wind-temp{
    display: flex;
    text-align: center;
}

.humi{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin-left:203px;
    color: blanchedalmond;
    padding-top: 10px;
    margin-right: 10px;
}

.space{
    padding-right: 5px;
    color:white;
    font-size: 30px;
}

.therm{
    padding-right: 5px;
    color: white;
    font-size: 30px;
}

.torn{
    padding-right: 5px;
    color: white;
    font-size: 30px;
}

.rise{
    padding-right: 5px;
    color: white;
    font-size: 30px;
}
.set{
    padding-right: 5px;
    color:white; 
    font-size: 30px;  
}

.icon{
    height: 54px;
    margin-left: 267px;
    padding-top: 10px;
}

.map{
    font-size: 30px;
    padding: 5px;
    color: white;
}

.main-container{
    background-image:url('../assests/blur.jpg');
    background-image: transparent;
    background-repeat:no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
    /*filter: blur(1px);*/
}

